{% load i18n admin_static %}
{% if cl.search_fields %}
<div>
    <form class="form-inline" id="changelist-search" action="" method="get">
        <div class="form-group">
            <label class="sr-only" for="searchbar">Search</label>
            <div class="input-group"><!-- DIV needed for valid HTML -->
                <div class="input-group-addon">
                    <i class="fa fa-search"></i>
                </div>
                <input type="text" size="40" class="form-control" name="{{ search_var }}" value="{{ cl.query }}" id="searchbar" />
            </div>
        </div>
        <input class="btn btn-primary" type="submit" value="{% trans 'Search' %}" />
    </form>

{% if show_result_count %}
    <span class="small quiet">
        {% blocktrans count counter=cl.result_count %}{{ counter }} result{% plural %}{{ counter }} results{% endblocktrans %}
        (<a href="?{% if cl.is_popup %}_popup=1{% endif %}">
            {% if cl.show_full_result_count %}
                {% blocktrans with full_result_count=cl.full_result_count %}{{ full_result_count }} total{% endblocktrans %}
            {% else %}
                {% trans "Show all" %}
            {% endif %}
    </a>)
    </span>
{% endif %}
{% for pair in cl.params.items %}
    {% ifnotequal pair.0 search_var %}<input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}"/>{% endifnotequal %}
{% endfor %}

</div>
<script type="text/javascript">document.getElementById("searchbar").focus();</script>
{% endif %}
