{% extends "admin/change_form.html" %}
{% load i18n admin_modify admin_urls bootstrap3 %}{% load url from aa_compat %}
{% block extrahead %}{{ block.super }}
    <style type="text/css">
        #form {
            float: left;
            width: 40%;
        }

        #legend {
            float: left;
            width: 60%;
        }
    </style>
{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans "Home" %}</a> &rsaquo;
        <a href="{% url 'admin:index' %}{{ app_label}}">{{ app_label|capfirst }}</a> &rsaquo;
        {% if has_change_permission %}<a
                href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo;
        {% trans "XLS Export Options" %}
    </div>
{% endif %}{% endblock %}

{% block content %}
    <div class="section">
      <ul class="nav nav-tabs header">
        <li class="active">Export as XLS</li>
      </ul>
      <div class="content">
        {% if adminform.form.subject.errors %}
            <div class="alert alert-danger">
                {% for error in adminform.form.subject.errors %}
                    {{ error|escape }}
                {% endfor %}
            </div>
        {% endif %}
        <div>
            <form action="" method="post">
                {% csrf_token %}
                <table>
                    {% bootstrap_form adminform.form %}
                </table>
            <input class="btn btn-primary" type="submit" name="apply" value="Export"/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
